@import './variables.scss';

.top {
  height: 782px;
  text-align: center;
  &__img {
    background-image: url('../assets/img/hero_image.png');
    background-size: cover;
  }

  &__gradient {
    background: linear-gradient(90deg, $crimson 0%, $orange 100%);
    opacity: 0.8;
  }

  &__title {
    margin-top: 140px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__text {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: $white;
  }

  &__btn {
    padding: 17px 53px;
    margin-bottom: 187px;
    border-radius: 6px;
    background-color: $white;
    color: #ed4c5c;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
}
